 
<% provide(:title, @user.first_name) %>

<div class="row">
  <aside class="col-md-4">
    <%= render 'user' =%>
    <ul class="list-group">
      <li class="list-group-item">Name:  <%= @user.first_name%></li>
      <li class="list-group-item">Date of birth:  <%= @user.date_of_birth%></li>
      <li class="list-group-item">Gender:  <%= @user.gender%></li>
    </ul>  
  </aside>
</div>
<button class='prof btn btn-primary'><%= link_to 'Edit', edit_user_registration_path(@user)%> </button>
