<%= render 'layouts/alerts'%>

<h1 class='posts-header'>Posts</h1>


    <% @posts.each do |post| %>
      <div class="card ">
        <div class="card-body">
          <p class="card-text"><%= post.content %></p>
        </div>  

        <div class="card-body">
          <button class='btn btn-primary'><%= link_to 'Show', post %></button>
          <button class='btn btn-primary'><%= link_to 'Edit', edit_post_path(post) %></button>
          <button class='btn btn-primary'><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      </div>
    <% end %>
